<!DOCTYPE html>

<html ng-app="geocoreApp">

<head>
    <title>Geocore</title>
    <link rel="icon" type="image/x-icon" href="/static/resources/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/resources/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/templates/css/vendor.min.css">
    <link rel="stylesheet" href="/templates/css/app.min.css">
   
</head>
<body layout="column">
    {% block content %}{% endblock %}
    <script type="text/javascript" src="/templates/js/vendor.min.js"></script>
    <script type="text/javascript" src="/templates/js/app.min.js"></script>
</body>

</html>